<h1>Blackjack</h2>
<br />
<h2>
	Dealer Hand
	<% if session[:game_state] != "player_turn" %>
		<%= " = #{hand_total(session[:dealer_hand])}" %>
	<% end %>
</h2>
<div class="cards"><% if session[:game_state] != "player_turn" %>
	<% session[:dealer_hand].each do |card| %>
		<%= get_image(card) %> 
	<% end %>
<% else %>
	<img src='/images/cards/cover.jpg' />
	<%= "<img src='/images/cards/#{session[:dealer_hand][1][1]}_#{session[:dealer_hand][1][0][0]}.jpg'>" %>
<% end %>
<% if session[:game_state] == "dealer_turn" %>
	<form action="dealer_card" method="get">
		<div class="btn-group">
			<button class="btn" name="dealer_card" value="dealer_card">Dealer draws a card...</button>
		</dv>
	</form>
<% end %></div>
<h2><%= "#{session[:player_name]}" %>'s Hand = <%= "#{hand_total(session[:player_hand])}" %></h2>
<div class="cards"><% session[:player_hand].each do |card| %>
	<%= get_image(card) %>
<% end %></div>
<br />
<% if session[:game_state] == "player_blackjack" %>
	<div id="game_state">You get Blackjack! YOU WIN!</div>
	<br />
	<form action="play_again" method="get">
		<div class="btn-group">
			<button class="btn" name="play_again" value="play_again">Play Again!</button>
		</div>
	</form>
<% elsif session[:game_state] == "dealer_blackjack" %>
	<div id="game_state">Dealer gets Blackjack! YOU LOSE!</div>
	<br />
		<form action="play_again" method="get">
		<div class="btn-group">
			<button class="btn" name="play_again" value="play_again">Play Again!</button>
		</div>
	</form>
<% elsif session[:game_state] == "player_bust" %>
	<div id="game_state">You busted! YOU LOSE!</div>
	<br />
	<form action="play_again" method="get">
		<div class="btn-group">
			<button class="btn" name="play_again" value="play_again">Play Again!</button>
		</div>
	</form>
<% elsif session[:game_state] == "dealer_bust" %>
	<div id="game_state">Dealer busted! YOU WIN!</div>
	<br />
	<form action="play_again" method="get">
		<div class="btn-group">
			<button class="btn" name="play_again" value="play_again">Play Again!</button>
		</div>
	</form>
<% elsif session[:game_state] == "player_win" %>
	<div id="game_state">You have <%= "#{hand_total(session[:player_hand])}" %>. Dealer has <%= "#{hand_total(session[:dealer_hand])}" %>. YOU WIN!</div>
	<br />
	<form action="play_again" method="get">
		<div class="btn-group">
			<button class="btn" name="play_again" value="play_again">Play Again!</button>
		</div>
	</form>
<% elsif session[:game_state] == "dealer_win" %>
	<div id="game_state">You have <%= "#{hand_total(session[:player_hand])}" %>. Dealer has <%= "#{hand_total(session[:dealer_hand])}" %>. YOU LOSE!</div>
	<br />
	<form action="play_again" method="get">
		<div class="btn-group">
			<button class="btn" name="play_again" value="play_again">Play Again!</button>
		</div>
	</form>
<% elsif session[:game_state] == "player_turn" %>
	<form action="hit_or_stay" method="get">
		<fieldset>
			<div class="btn-group">
				<button class="btn" name="hit_or_stay" value="hit">Hit</button>
				<button class="btn" name="hit_or_stay" value="stay">Stay</button>
			</div>
	</form>
<% end %>

